* {
  box-sizing: border-box;
}

.ecommerce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-bottom: 61px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .search {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .title2 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 8px 16px;
    width: 375px;
    overflow: hidden;

    .title {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: -0.32px;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .container {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      border-radius: 50%;
      background: var(--color-bg-secondary);
      padding: 3px 6px 3px 7px;

      .iconChevron {
        width: 7px;
        height: 14px;
      }
    }
  }

  .statusBar {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    padding: 12px 15px 11px 21px;
    min-width: 375px;
    height: 44px;
    overflow: hidden;

    .time {
      width: 54px;
      height: 21px;
    }

    .rightSide {
      width: 67px;
      height: 11px;
    }
  }

  .search2 {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 8px;
    margin-left: 16px;
    border-radius: 8px;
    background: var(--color-bg-secondary);
    padding: 8px 16px 8px 12px;
    width: 343px;

    .label {
      display: -webkit-box;
      flex-grow: 1;
      overflow: hidden;
      line-height: 24px;
      letter-spacing: 0;
      color: #828282;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .pills {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;
    margin: 8px -54px 0px 16px;

    .iconFavorite {
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      overflow: hidden;
    }

    .iconLabel {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 4px;
      border: 1px solid var(--color-border);
      border-radius: 6px;
      padding: 4px 9px;

      .label2 {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--color-text);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .iconLabel2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 4px;
      border: 1px solid var(--color-border);
      border-radius: 6px;
      padding: 4px 9px;

      .label3 {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: #1a1a1a;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 16px 16px 0px;
    border-radius: 8px;
    padding: 54px 149px 8px 20px;
    overflow: hidden;
    background-image: url(../image/mkgy5duq-d4us3ru.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .bannerTitle {
      width: 146px;
      line-height: 28px;
      letter-spacing: -0.4px;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .pagination {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 5px;
      margin-top: 41px;
      margin-left: 129px;
      overflow: hidden;

      .selected {
        flex-shrink: 0;
        border-radius: 50%;
        background: #000000cc;
        width: 5px;
        height: 5px;
      }

      .default {
        flex-shrink: 0;
        border-radius: 50%;
        background: #00000033;
        width: 5px;
        height: 5px;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 16px;

    .carousel {
      display: flex;
      align-items: flex-start;
      column-gap: 24px;
      padding: 8px 16px;
      width: 375px;
      overflow: hidden;

      .item {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        row-gap: 8px;

        .image {
          flex-shrink: 0;
          border-radius: 38px;
          width: 76px;
          height: 76px;
          overflow: hidden;
        }

        .title3 {
          flex-shrink: 0;
          width: 76px;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0.14px;
          color: var(--Light-Text-TextPrimary, #161823);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .autoWrapper {
    position: relative;
    margin-top: 16px;
    width: 500px;
    height: 277px;

    .row2 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 500px;
      height: 277px;

      .carousel2 {
        display: inline-flex;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 8px 16px;

        .card {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: center;
          overflow: hidden;
          row-gap: 12px;

          .image2 {
            flex-shrink: 0;
            border-radius: 8px;
            width: 148px;
            height: 148px;
          }

          .info {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 2px;

            .brand {
              display: -webkit-box;
              flex-shrink: 0;
              align-self: stretch;
              overflow: hidden;
              line-height: 17px;
              letter-spacing: 0;
              color: #00000080;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .productName {
              display: -webkit-box;
              flex-shrink: 0;
              align-self: stretch;
              overflow: hidden;
              line-height: 20px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .a1099 {
              display: -webkit-box;
              flex-shrink: 0;
              align-self: stretch;
              overflow: hidden;
              line-height: 22px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }

    .carousel3 {
      display: flex;
      position: absolute;
      bottom: -166px;
      left: 0;
      align-items: center;
      justify-content: center;
      column-gap: 12px;
      padding: 46px 16px 8px;
      width: 452px;
      height: 150px;

      .image3 {
        flex-shrink: 0;
        border-radius: 8px;
        width: 96px;
        height: 96px;
      }
    }

    .tabBar {
      display: flex;
      position: absolute;
      bottom: -61px;
      left: 0;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 0px 0px #0000001a;
      background: #ffffff;
      width: 375px;
      height: 78px;
      backdrop-filter: blur(10px);

      .tabs {
        position: relative;
        width: 375px;
        height: 44px;
        overflow: hidden;

        .tabBarItem {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          column-gap: 10px;
          padding: 12px 26px 8px;
          width: 76px;
          height: 44px;
        }

        .tabBarItem2 {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 75px;
          align-items: flex-start;
          column-gap: 10px;
          padding: 12px 26px 8px;
          width: 76px;
          height: 44px;
        }

        .tabBarItem3 {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 150px;
          align-items: flex-start;
          column-gap: 10px;
          padding: 12px 26px 8px;
          width: 76px;
          height: 44px;
        }

        .tabBarItem4 {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 225px;
          align-items: flex-start;
          column-gap: 10px;
          padding: 12px 26px 8px;
          width: 76px;
          height: 44px;
        }

        .tabBarItem5 {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 300px;
          align-items: flex-start;
          column-gap: 10px;
          padding: 12px 26px 8px;
          width: 76px;
          height: 44px;
        }
      }

      .homeIndicator2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding: 21px 120px 8px 121px;

        .homeIndicator {
          border-radius: 100px;
          background: #000000;
          width: 134px;
          height: 5px;
        }
      }
    }
  }
}
